/* Main Styles */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.wrapper {
  display: flex;
}
h1 {
  text-decoration: underline;
}
.player {
  box-sizing: border-box;
  flex: auto;
  text-align: center;
}
.computer {
  flex: auto;
  text-align: left;
}
.user {
  flex: auto;
  text-align: right;
}
#hand-buttons {
  list-style-type: none;
}
#hand-buttons li {
  display: inline-block;
}
.hand-button {
  width: 75px;
  height: 50px;
  margin:50px 20px
}
#match-history {
  height: 300px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  overflow: auto;
}
#match-history table {
  border-collapse: collapse;
}
#match-history table tr td {
  vertical-align: middle;
  border-bottom: 1px solid #ccc;
  font-size: 32px;
}
.hand-play {
  width: 470px;
  text-align: center;
}
.hand-outcome {
  font-weight: bold;
  border-left:1px solid #ccc;
  font-size: 42px;
  padding: 5px 20px;
}
.hand-outcome.win {
  background-color: #dff0d8;
}
.hand-outcome.tie {
  background-color: #fcf8e3;
}
.hand-outcome.lose {
  background-color: #f2dede;
}
